# Nenana Ice Classic - Spring 2022

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
# Read the data file and return a pandas dataframe.

def date_processing():
    """Process the existing date data."""
    header = "Year,Decimal Day of Year,Month,Day,Time"
    header = header.split(",")
    return header

def read_data(filename):
    """Read the data file and return a pandas dataframe."""
    # df = pd.read_csv(filename, header=None, names=date_processing())
    df = pd.read_csv(filename)
    return df

read_data("../data/NenanaIceClassic_1917-2021.csv")

     Year  Decimal Day of Year  Month  Day   Time
0    1917             120.4792  April   30  11:30
1    1918             131.3979    May   11  09:33
2    1919             123.6063    May    3  14:33
3    1920             132.4486    May   11  10:46
4    1921             131.2792    May   11  06:42
..    ...                  ...    ...  ...    ...
100  2017             121.5000    May    1  12:00
101  2018             121.5542    May    1  13:18
102  2019             104.0146  April   14  00:21
103  2020             118.5389  April   27  12:56
104  2021             120.5347  April   30  12:50

[105 rows x 5 columns]